# **.git
**.gitignore
**.gitattributes
**.vscode
**.history
**.DS_Store

docker*
!docker/golang/docker-entrypoint.sh
!docker/golang/docker-entrypoint.local.sh

**/vendor

**/README.md
**/LICENSE
**/CHANGELOG.md
